 /* VARIABLE LIST*/
 $background-colour: #f4f1ec;
 $normalFont:'Source Sans Pro', sans-serif;
 $bigFont:'Bungee', cursive;
 $interactableColour: #219EBC;
 $highlightColour: #8ECAE6;
 $bannerColour: #ffb703;
 $background-texture: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");