@use 'variables';


header.display {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: variables.$bannerColour;
  background-image: variables.$background-texture;
}

.name {
  font-family: variables.$normalFont;
  font-weight: 300;
}

.fullName {
  margin-top: 10px;
}