
@use 'variables';

section.new-tweet {
  margin-inline: 5px;
  margin-bottom: 15px;
  display: none
}

#tweet-text {
  margin-top: 5px;
  font-family: variables.$normalFont;
  font-weight: 600;
  border: 0;
  background-color: transparent;
  width: 100%;
  padding-bottom: 0;
  resize: none;
  outline: none;
}

section button.tweetButton {
  color: white;
  background-color: variables.$interactableColour;
  border: 2px solid;
  border-color: variables.$highlightColour;
  padding: 10px;
  border-radius: 15px;
}

section button.tweetButton:hover {
  color: white;
  border-color: variables.$highlightColour;
  box-shadow: 0.05em 0.1em 0.0 0 variables.$highlightColour;
}

section button.tweetButton:active {
  color: white;
  border-color: #219EBC;
  box-shadow: 0.05em 0.1em 0.2em 0 variables.$highlightColour;
  transform: translateY(0.15em);
}

section footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: variables.$bigFont;
}

section h2 {
  margin-bottom: 0;
}

section div.tweetText {
  display: flex;
  flex-direction: column;
  border-bottom: solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

div.alert {
  padding: 10px;
  background-color: #c90101b0;
  font-family: variables.$normalFont;
  font-weight: 600;
  color: white;
  margin-top: 15px;
  border-radius: 15px;
  display: none;
}

.alert .alert-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

span.warning {
  font-family: variables.$bigFont;
  padding: 1rem;
}