@use 'variables';


article.oldTweet {
  margin-block: 29.88px;
  border: solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

article.oldTweet:hover {
  box-shadow: 0.15em 0.2em 0.0 0 variables.$highlightColour;
}

article.oldTweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

article.oldTweet header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
}

article.oldTweet header div img {
  padding-right: 1rem
}

article.oldTweet div.tweet {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: solid;
  margin-bottom: 0;
  font-weight: 600;
  font-size: .9em;
}

article.oldTweet div p {
  word-wrap: break-word;
  width: 94%;
  margin-inline: 30px;
}

article.oldTweet footer {
  margin-inline: 40px;
  font-size: small;
  font-family: variables.$normalFont;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

article.oldTweet footer div.icons {
  display: flex;
  flex-direction: row;
}

article.oldTweet i {
  margin: 7px;
  color: variables.$interactableColour;
}

article.oldTweet i:hover {
  color: variables.$bannerColour;
}

article.oldTweet i:active {
  color: variables.$bannerColour;
  transform: translateY(0.15em);
}

article.oldTweet .userID {
  font-weight: 600;
  color: variables.$highlightColour;
}


@media only screen and (min-width: 1024px) {
  section.page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: auto;
  }

  header.display {
    margin-top: 29.88px;
    width: 90%;
    max-width: 700px;
    margin-right: 10%;
    border-radius: 15px;
  }

  #tweet-containter {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
  }

  article.oldTweet div p {
    word-wrap: anywhere;
    width: 94%;
    margin-inline: 30px;
    min-width: 475px;
  }
}