article.oldTweet {
  margin-block:40px;
  border: solid;
  display: flex;
  flex-direction: column;
}

article.oldTweet:hover {
  box-shadow: 0.15em 0.2em 0.0 0 #8ECAE6;
}

article.oldTweet header {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin:30px;
}

article.oldTweet header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
}

article.oldTweet header div img{
padding-right: 1rem
}

article.oldTweet div.tweet {
  word-wrap: break-word;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: solid;
  margin-bottom: 0;
  font-weight: 600 ;
  font-size: .9em;
}

article.oldTweet div p {
  word-wrap: break-word;
  margin-inline: 30px;
  flex-direction: row;
  justify-content: space-around;
}

article.oldTweet footer {
  margin-inline: 40px;
 font-size: small;
 font-family: 'Source Sans Pro';
 font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
article.oldTweet footer div.icons {
  display: flex;
  flex-direction: row;
  
}

article.oldTweet i {
  margin: 7px;
  color:#219EBC
}

article.oldTweet i:hover {
  color: #ffb703;
}

article.oldTweet i:active {
  color: #ffb703;
  transform: translateY(0.15em);
}

article.oldTweet .userID {
  font-weight: 600;
  color: #8ECAE6;
}
